

body{

    margin: 0;
    background: url("img/cool-bg.jpg");
    background-position: no-repeat; 
}



header 
{
    background-color: #fafafa;
    color: black;
    padding: 10px 10px 5px 15px;
    height: 100px;
  }

  nav ul {
    margin-top: 20px;
    width: auto;
 

  }

  nav li {
    color: #000;
    display: inline;
    padding: 20px 2px 5px 15px;
    margin: 10px 2px 5px 15px;
    text-transform: uppercase;
    font-family: 'Old Standard TT', serif;
    
   
  }

  nav li:hover {
    animation-name: my-hover;
    animation-duration: 4s;
    animation-fill-mode: backwards;
  }

  @keyframes my-hover {

    0% {

    color: #000000;
    border-bottom: 0.3px solid #000000;
    
    }

    50% {

      color: #000000;
      border-bottom: 0.5px solid yellow;
      
      }

      75% {

        color: #000000;
        border-bottom: 1px solid #000000;
        
        }


        100% {

          color: yellow;
          border-bottom: 1px solid #000000;
         
          }
  }

 

i {

    
    margin: 2px 5px 2px 5px;
    padding: 5px 20px 2px 5px;
    color: #000;

}
#cta

{
  
  border-left: 1px dotted rgb(75, 71, 71);
  border-bottom: 1px dotted rgb(46, 45, 45);
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  margin-bottom: 80px;
 
  

}

#cta h1
{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  font-family: 'Pacifico', cursive;
  box-shadow: 12px 12px 2px 1px rgb(7, 7, 7);
  text-shadow: 2px 2px 2px 1px #575555;

}

#cta p{
  background-color: #fafafa;
  opacity: 0.7;
  color: #000;
  font-size: 14px;
  padding: 8px 10px 5px 10px;
  font-family: 'Old Standard TT', serif;
}

button
{
 background-color: #000;
 color: #fafafa;
 height: 60px;
 width: 300px;
 text-decoration:none;
 

}

a {

  color: #fafafa;
}

a:hover {

 text-decoration: none;
 color: #000;
}


button:hover{
  animation-name: my-button;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  

}

@keyframes my-button {

  0% {
 background-color: #fafafa;
 color: #000;
 

  }

  50% {
    background-color: #000;
    color: #fafafa;
    
     }

     100% {

      background-color: #fafafa;
      color: #000;
     
     }
}

img 
{
box-shadow: 12px 12px 2px 1px rgb(7, 7, 7);
}


#img-div{
  
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  

}



#about-div {
  margin-top: 20px;
  border-top: 3px solid #fafafa;
  border-left: 3px solid #fafafa;
  box-shadow: 12px 12px 2px 1px #000;
  padding: 60px 60px 10px 60px;
  height: 400px;
  text-align: justify;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 5%;
  border-top-right-radius: 50%;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  


}

#secret-div {
  margin-top: 20px;
  border-top: 1px dotted #fafafa;
  border-right: 1px dotted #fafafa;
  padding: 20px 40px 10px 40px;
  height: 400px;
  text-align: justify;
  border-top-left-radius: 30%;

}



#contact-div {

  height: 400px;
  margin-top: 120px;
  margin-bottom: 150px;
  border-top: 1px dotted #000;
  border-left: 1px dotted #000;
  padding: 20px 40px 10px 40px;
  text-align: justify;
  border-top-right-radius: 50%;
}



#about-div h2,
#contact-div h2  {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fafafa;
  

}

#secret-div h2 {

  background-color: #fafafa;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

p{

  color: #fafafa;
  font-size: 12px;

}
#secret-div p {

  color: #000;
  margin-top: 20px;
}
footer
{

    background-color: #000;
    color: white;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: center;
}


footer h4 {

  text-transform: uppercase;
  font-size: 15px;
}

footer i {

    
  margin: 2px 2px 2px 2px;
  padding: 5px 10px 2px 5px;
  color: #fafafa;

}

#logo-display {

  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  display: black;
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  animation: logo-display 10s linear;
 animation-iteration-count: infinite;
 box-shadow: 12px 12px 2px 1px rgb(7, 7, 7);
}

@keyframes logo-display {

  0% {

    background-image: url("img/bg.png");
    transition: 5s ease-in;

  }

  30% {

    background-image: url("img/01.jpg");
    transition: 3s ease-in;
  }
  60% {

    background-image: url("img/02.jpg");
    transition: 3s ease-in;
  }

  80% {

    background-image: url("img/03.jpg");
    transition: 3s ease-in;
  }

  100% {

    background-image: url("img/04.jpg");
    transition: 3s ease-in;
  }
}
